{% comment %}
Basic Page Needs
{% endcomment %}
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="shakna-israel">

{% comment %}
Mobile Specific Metas
{% endcomment %}
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=2">

{% comment %}
IE is always a pain.
{% endcomment %}
<!-- [if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% comment %}
Favicons
- Apple makes things annoying.
{% endcomment %}
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

{% comment %}
CSS isn't here, because it does not belong here.
Scripts aren't here, because they do not belong here.
{% endcomment %}
